body {background-color:#e6d3a3;}
h1   {color:#000000;text-align: center;}
p    {color:#abbe2b;border:2px solid #91972a}
li   {color:#abbe2b}
img  {width: 250px;height: 200px;}
ul   {border:2px solid #91972a}
