table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  ;}
table {width: 100%;}
th:nth-child(even),td:nth-child(even) {
    background-color: white;
  }
  th, td {
    border-style: none;
  }