body
{
    background-color: #EEE2DC;
}
h1 {
    text-align: center;
    color:#123C69;
    padding: 20px;
    font-family: Verdana, sans-serif;
    font-size: 20 px;
}
h2{
    text-align: center;
    color:#123C69;
    padding: 20px;
    font-family: Verdana, sans-serif;
}
nav {background-color: #EEE2DC;
     display: grid;
     place-items: center;
}
nav ul{
    list-style-type: none;
}
nav ul a {display:inline-block;
          padding: 20px;
          text-decoration: none;
          color: #AC3B61;
          transition:0.2;
          font-size: 18px;
}
nav ul a:hover
{
    background-color: #123C69;
    color: #EEE2DC;
}
.item
{
    text-align: center;
    padding: 16px;
    background-color: #EEE2DC;
}
p,nav
{
    font-family: Verdana, sans-serif;
    font-size: 1.0rem;
    color: #AC3B61;
}
a 
{
    box-shadow: inset 0 0 0 0 #123C69;
    color: #BAB2B5;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    text-decoration:none;
    font-size:20px
}
a:hover 
{
    box-shadow: inset 100px 0 0 0 #123C69;
    color: #EEE2DC;
}
hr
{
    border: 10px solid #BAB2B5;
    border-radius: 5px;
}